.nav {
    grid-area: n;
    background: linear-gradient(135deg, #40686f, #c9e0db);
    padding: 10px 28px;
    line-height: 26px;
}

.item {
    display: flex;
    align-items: center;
}

.item a {
    color: whitesmoke;
    text-decoration: none;
    text-shadow: 1px 1px 1px #16272d75;
    display: inline-block;
    transition: 0.2s;
}

.item a:hover {
    background-color: #ffffff12;
}

.item a.activeLink {
    font-weight: 700;
    color: #16272d;
    text-shadow: 1px 1px 1px rgba(207, 79, 79, 0.2);
}

.item img {
    width: 32px;
    margin-right: 5px;
}